[Unit]
Description=IOC %i
#AssertPathExists=/nfs/ts/nbs/%i/st.cmd
Requires=multi-user.target
#Before=conserver.service
After=remote-fs.target network.target network-online.target autofs.service
Wants=network.target network-online.target autofs.service
#RequiresMountsFor=/nfs/ts/nbs

[Service]
Type=simple
WorkingDirectory=/nfs/ts/nbs/%i
RuntimeDirectory=procServ-%i
ExecStartPre=/bin/sleep 1
ExecStart=/bin/bash -c '/usr/bin/procServ \
  --foreground \
  --logfile=procServ.log \
  --info-file=/run/ioc@%i/info \
  --ignore=^C^D \
  --chdir=/nfs/ts/nbs/%i \
  --name=%i \
  --port=unix:/run/ioc@%i/control \
  /nfs/ts/epics/base-7.0.5/require/3.4.1/bin/iocsh.bash /nfs/ts/nbs/%i/st.cmd'

SyslogIdentifier=ioc@%i
RuntimeDirectory=ioc@%i
RuntimeDirectoryMode=0755
User=iocuser
Group=iocgroup
# attempt to restart (on-failure) after 180 seconds
Restart=on-failure
RestartSec=180
# If unit restarts more than 10 times in 1200 seconds, do not attempt to restart further
StartLimitInterval=1200
StartLimitBurst=10

[Install]
WantedBy=multi-user.target

